    <div class="form-group mb-3">
        <h6 class="h4">{{ form_label(form.name) }}</h6>
        {{ form_widget(form.name) }}
    </div>
    <fieldset id="durationsFs" name="durationsFs" class="card">
        <div class="card-header" id="headingLb">
            <h5 class="mb-0">Lunch Breaks <button class="btn btn-secondary"
                    type="button" data-toggle="collapse" data-target="#lunchBreaks" aria-expanded="false" aria-controls="lunchBreaks">
                <i class="bi bi-caret-down-fill"></i>
            </button></h5>
        </div>
        <div id="lunchBreaks" class="collapse" aria-labelledby="headingLb" data-parent="#{{ parentid }}">
            {% set definesLunch = [
            {
                'label': "Base lunch break duration", 'id': "wt_parameters_baseLunchBreakDuration_ph", 'widget': form.baseLunchBreakDuration
            }, {
                'label': "Extended lunch break duration", 'id': "wt_parameters_extendedLunchBreakDuration_ph", 'widget': form.extendedLunchBreakDuration
            }, {
                'label': "Shorted lunch break duration", 'id': "wt_parameters_shortedLunchBreakDuration_ph", 'widget': form.shortedLunchBreakDuration
            }] %}
            {% for p in definesLunch %}
                {% include 'work_time_tracker/forms/templates/time_duration.html.twig' with { parameters: p } %}
            {% endfor %}
        </div>
        <div class="card-header" id="headingWh">
            <h5 class="mb-0">Workday Hours <button class="btn btn-secondary"
                    type="button" data-toggle="collapse" data-target="#workdayHours" aria-expanded="false" aria-controls="workdayHours">
                <i class="bi bi-caret-down-fill"></i>
            </button></h5>
        </div>
        <div id="workdayHours" class="collapse" aria-labelledby="headingWh" data-parent="#{{ parentid }}">
            {% set definesHours = [
            {
                'label': "Base workday hours duration", 'id': "wt_parameters_baseWorkDayHoursDuration_ph", 'widget': form.baseWorkDayHoursDuration
            }, {
                'label': "Extended workday hours duration", 'id': "wt_parameters_extendedWorkDayHoursDuration_ph", 'widget': form.extendedWorkDayHoursDuration
            }, {
                'label': "Shorted workday hours duration", 'id': "wt_parameters_shortedWorkDayHoursDuration_ph", 'widget': form.shortedWorkDayHoursDuration
            }] %}
            {% for p in definesHours %}
                {% include 'work_time_tracker/forms/templates/time_duration.html.twig' with { parameters: p } %}
            {% endfor %}
        </div>
        <div class="card-header" id="headingTb">
            <h5 class="mb-0">Workday Breaks <button class="btn btn-secondary"
                    type="button" data-toggle="collapse" data-target="#totalBreaks" aria-expanded="false" aria-controls="totalBreaks">
                <i class="bi bi-caret-down-fill"></i>
            </button></h5>
        </div>
        <div id="totalBreaks" class="collapse" aria-labelledby="headingTh" data-parent="#{{ parentid }}">
            {% set definesBreaks = [
            {
                'label': "Base workday breaks duration", 'id': "wt_parameters_baseTotalDayBreaksDuration_ph", 'widget': form.baseTotalDayBreaksDuration
            }, {
                'label': "Extended workday breaks duration", 'id': "wt_parameters_extendedTotalDayBreaksDuration_ph", 'widget': form.extendedTotalDayBreaksDuration
            }, {
                'label': "Shorted workday breaks duration", 'id': "wt_parameters_shortedTotalDayBreaksDuration_ph", 'widget': form.shortedTotalDayBreaksDuration
            }] %}
            {% for p in definesBreaks %}
                {% include 'work_time_tracker/forms/templates/time_duration.html.twig' with { parameters: p } %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset><legend class="h4">Config</legend>
        <div class="form-group form-inline">
            {{ form_widget(form.defaultConfig) }}&nbsp;
            {{ form_widget(form.active) }}&nbsp;
            {{ form_widget(form.global) }}&nbsp;
        </div>
    </fieldset>
    <fieldset id="otherFs" name="otherFs" class="card">
        <div class="card-header" id="headingTh">
            <h5 class="mb-0">Toils &amp; Holydays <button class="btn btn-secondary"
                    type="button" data-toggle="collapse" data-target="#toilHolydays" aria-expanded="false" aria-controls="toilHolydays">
                <i class="bi bi-caret-down-fill"></i>
            </button></h5>
        </div>
        <div id="toilHolydays" class="collapse" aria-labelledby="headingTh" data-parent="#{{ parentid }}">
            <div class="form-group mb-3">
                {{ form_label(form.annualToilDaysNumber) }}
                {{ form_widget(form.annualToilDaysNumber) }}
            </div>
            <div class="form-group mb-3">
                {{ form_label(form.annualHolidayDaysNumber) }}
                {{ form_widget(form.annualHolidayDaysNumber) }}
            </div>
        </div>
        <div class="card-header" id="headingSe">
            <h5 class="mb-0">Start &amp; end of day <button class="btn btn-secondary"
                    type="button" data-toggle="collapse" data-target="#startEnds" aria-expanded="false" aria-controls="startEnds">
                <i class="bi bi-caret-down-fill"></i>
            </button></h5>
        </div>
            <div id="startEnds" class="collapse" aria-labelledby="headingSe" data-parent="#{{ parentid }}">
                <div class="form-group mb-3">
                    {{ form_label(form.noWorkBefore) }}
                    {{ form_widget(form.noWorkBefore) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form.noWorkAfter) }}
                    {{ form_widget(form.noWorkAfter) }}
                </div>
                
            </div>
    </fieldset>
{{ (parentDoRest==false)?form_rest(form):"" }}