{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Hello WorkTimeTrackerController!{% endblock %}

{% block sidebar_free %}
    {% set worktime_routes_with_names = [
        {'route' : 'worktime_tracker', 'label' : "Index", 'args' : []},
        {'route' : 'worktime_tracker_create', 'label' : "New worktime Agenda", 'args' : []},
] %}
    <ul class="nav flex-column">
    {% for route in worktime_routes_with_names %}
        <li class="nav-item"><a href="{{ path(route.route, route.args) }}" 
            class="nav-link {% if route_name in worktime_routes %}active{% endif %}">{{ route.label }}</a></li>
    {% endfor %}

    {% for agenda in agendas %}
        {% if is_granted('read', agenda) %}
        <li class="nav-item">
            <a href="{{ path('worktime_tracker_display', {'id': agenda.id}) }}" 
            class="nav-link {% if route_name in worktime_routes %}active{% endif %}">
            {% if route_name == 'worktime_tracker_display' and path_attributes.get('id') == agenda.id %}
                <i class="bi bi-check bold" style="color:green !important;"></i>
            {% endif %}
                Agenda {{ agenda.name }}
            </a></li>
        {% endif %}
    {% endfor %}    
    </ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6"> {# Barre de titre #}
    {% block body_title_bar %}
    {% endblock %}
        </div>
        <div class="col-5" id="tools-icons"> {# Icônes de travail #}
    {% block body_tools_bar %}
    {% endblock %}
        </div>
        <div class="col-1">  {# Paramètres #}
            <button class="btn btn-secondary bg-light-gray" data-toggle="modal" data-target="#params-form"><i class="bi bi-gear"></i></button>
        </div>
    </div>
{#    <div class="let-hidden">#}
    <div id="templates" class="">
        <div id="params-form" class="modal" tabindex="-1" role="dialog">
            {% set options = {
            'modaleTitle': "Parameters", 'formTemplateName': "params/wtparameters", 'formVar': epFormView,
            'btns': { 
                'save': { 'id':'params-form-save', 'label': "Save Changes" },
                'close': { 'id':'btn-close', 'label': "Close" }
        }} %}
          {% include 'work_time_tracker/elements/form_modale.html.twig' with { options } only %}
        </div>
              <script type="application/json" id="currentParam">{ "id": null }</script>
              <script type="application/json" id="globalParam">{ "id": {% if globalParam is not null %}"{{ globalParam.id }}"{% else %}null{% endif %} }</script>
              <script type="application/json" id="agenda">{ "id": {% if agenda is defined and agenda.id is not null %}"{{ agenda.id }}"{% else %}null{% endif %} }</script>
              <script type="application/json" id="user">{ 
                  {% if app.user is not null %}
                      "id": "{{ app.user.id }}", 
                      "username": "{{ app.user.username }}"
                  {% else %}
                      "id": null
                  {% endif %} }
              </script>
              
    {% block templates %}
    {% endblock %}
    </div>
{% endblock %}