{# empty Twig template #}
{#<table><tr>#}
        
<td id='wd_{{ day|date('Ymd') }}' class="weekday">
    {#  Week day  #}
{#    <time datetime="{{ (day|date('Y-m-d'))~'T00:00:00.000'~(day|date('P')) }}">#}
{#    <time datetime="{{ (day|date("Y-m-d\\TH:i:s.vP")) }}">#}
    <time datetime="{{ (day|date('Y-m-d\\T00:00:00.000P')) }}">
        {{ day|date('l') }}
    </time>
</td>
<td id='dr_{{ day|date('Ymd') }}' class="dayrow">
    <time datetime="{{ (day|date('Y-m-d\\T00:00:00.000P')) }}">
        {{ day|date('d/m/Y') }}
    </time>
</td>
<td id='ds_{{ day|date('Ymd') }}' class="daystart">
    <time datetime=""></time>
</td>
<td id='dame_{{ day|date('Ymd') }}' class="dayamend">
    <time datetime=""></time>
</td>
<td id='dpms_{{ day|date('Ymd') }}' class="daypmstart">
    <time datetime=""></time>
</td>
<td id='de_{{ day|date('Ymd') }}' class="dayend">
    <time datetime=""></time>
</td>
<td id='stat_{{ day|date('Ymd') }}'></td>

{#</tr></table>#}
